/* .container { padding: 0px 10%; } */
.grid { display: grid; grid-template-columns: auto auto auto auto; }
.grid > .col-3 { grid-column-start: 1; grid-column-end: 4 }
.products { padding-right: 0px; }
.cart { padding-left: 0px; }